name: FREE_RDP_USA_REGION
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install Ngrok
        run: |
          choco install ngrok -y
          Import-Module "$env:ProgramData\chocolatey\helpers\chocolateyInstaller.psm1"
          Update-SessionEnvironment

      - name: Configure Ngrok Direct
        run: ngrok config add-authtoken 37IbSrbYRJHpIiJUqGNrTv5G2tf_5vvsanAGYkz3UsQB6gmmm

      - name: Enable Windows RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

      - name: Create RDP User
        run: |
          $user = "runneradmin"
          $password = ConvertTo-SecureString "P@ssw0rd!" -AsPlainText -Force
          if (Get-LocalUser -Name $user -ErrorAction SilentlyContinue) {
              Set-LocalUser -Name $user -Password $password
          } else {
              New-LocalUser -Name $user -Password $password -FullName "Runner Admin"
              Add-LocalGroupMember -Group "Administrators" -Member $user
          }

      - name: Start Tunnel
        # Region ko 'ap' se badal kar 'us' kar diya hai
        run: Start-Process ngrok -ArgumentList "tcp --region us 3389"

      - name: Keep Alive
        run: |
          Write-Host "RDP is Ready! Check Ngrok Endpoints Dashboard."
          Start-Sleep -Seconds 21600
