name: FREE_RDP_DIRECT
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install Ngrok
        run: |
          choco install ngrok -y
          Import-Module "$env:ProgramData\chocolatey\helpers\chocolateyInstaller.psm1"
          Update-SessionEnvironment

      - name: Configure Ngrok Direct
        # Yahan apna token paste karein (37IbSrbYRJHpIiJUqGNrTv5G2tf_5vvsanAGYkz3UsQB6gmmm)
        run: ngrok config add-authtoken APNA_NGROK_TOKEN_YAHAN_DALAIN

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

      - name: Setup User
        run: |
          $user = "runneradmin"
          $password = ConvertTo-SecureString "P@ssw0rd!" -AsPlainText -Force
          if (Get-LocalUser -Name $user -ErrorAction SilentlyContinue) {
              Set-LocalUser -Name $user -Password $password
          } else {
              New-LocalUser -Name $user -Password $password -FullName "Runner Admin"
              Add-LocalGroupMember -Group "Administrators" -Member $user
          }

      - name: Start Tunnel
        # Is line mein logs ko enable kiya hai takay galti samne aaye
        run: Start-Process ngrok -ArgumentList "tcp --region ap 3389"

      - name: Keep Alive
        run: Start-Sleep -Seconds 21600
