name: FREE_RDP_FINAL_FIX
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Install Ngrok
        run: |
          choco install ngrok -y
          Import-Module "$env:ProgramData\chocolatey\helpers\chocolateyInstaller.psm1"
          Update-SessionEnvironment

      - name: Configure Ngrok
        run: ngrok config add-authtoken 37Iwu0EvVs1xbdOqdIAsS6X9KCn_6dtWT1a9XNM15aCMdG3PB

      - name: Enable Windows RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Start Tunnel
        shell: pwsh
        # Is baar region 'ap' (Asia) rakha hai
        run: Start-Process ngrok -ArgumentList "tcp --region ap 3389"

      - name: Keep Alive
        run: |
          Write-Host "RDP is Ready! Please refresh Ngrok Endpoints Dashboard."
          Start-Sleep -Seconds 21600
