name: Free-RDP
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Setup Ngrok
        run: |
          Invoke-WebRequest https://bin.equinox.io/c/bPR98p1vXU/ngrok-v3-stable-windows-amd64.zip -OutFile ngrok.zip
          Expand-Archive ngrok.zip
      - name: Auth Ngrok
        run: .\ngrok.exe config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
      - name: Start Tunnel
        run: Start-Process powershell -ArgumentList "-NoExit", ".\ngrok.exe tcp 3389"
      - name: Keep Alive
        run: |
          Write-Host "Success! Login with Ngrok address."
          Start-Sleep -Seconds 21600
